@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root {
    --blue: #116CFF;
    --white: #FFFFFC;
    --red: #BF0606;
    --green: #06BF19;
    --bgCard: #ffffff93;
    --titleFont: 'Montserrat', sans-serif;
    --descripFont: 'Open Sans', sans-serif;
  }
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: var(--descripFont);
  }
  h1,h2,h3,h4,h5 {
    color: #092656;
  }
  body{
      background: url(/IMG/bg.png);
      background-repeat: no-repeat;
      background-size: cover;
  }
  .nav-bar {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  .nav-bar .logo {
      cursor: pointer;
  }
  .app-name{
      width: 65%;
      text-align: center;
  }

  /* button group ============================ */

/* Button style  */
.button-66,
.btnStart,
#sumiteAnswer,
.saveToDate,
.start,
.edit,
.add,
.cancel,
.cancel2,
#create,
.nextQ,
.save,
.backBtn,
.saveEditBtn,
.btnSubmitResult,
.showCorrection,
ul li{
  background-color: var(--blue);
  border-radius: 5px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: var(--descripFont);
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  min-height: 50px;
  min-width: 100px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
  margin: 0 auto;
}
.btnStart {
    border-radius: 50px;
    min-height: 50px;
    min-width: 200px;
}

.cancel,
.cancel2,
.save,
.add{
    position: absolute;
    margin-top: 1rem;
    right: 34%;
    min-height: 40px;
    min-width: 90px;
    background: grey;
}

.add,
.save{
    right: 25%;
    background: var(--blue);
}

.save,
.cancel2
{
    margin-top: 3%;

}
.cancel:hover,
.cancel2:hover
{
    background: var(--red);
    transform: translateY(-2px);

}

.saveToDate,
.saveEditBtn{
    border-radius: 5px;
    min-height: 40px;
    min-width: 80px;
    margin-top: 1rem;
}

.start,
.edit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.save, .cancel2{
    top: 75%;
}



.nextQ {
    padding: 0;
    position: absolute;
    right: 5%;
    top: 58%;
    min-height: 80px;
    min-width: 80px;
    font-size: 40px;
    border-radius: 50%;
}


.backBtn {
    background: var(--red);
    padding: 0;
    position: absolute;
    left: 15%;
    top: 50%;
    min-height: 80px;
    min-width: 80px;
    font-size: 40px;
    border-radius: 50%;
}

.showCorrection {
    margin-top: 2rem;
}

.button-66:hover,
.btnStart:hover,
.saveToDate:hover,
.start:hover,
.save:hover,
.edit:hover,
.add:hover,
#create:hover,
.saveEditBtn:hover,
.nextQ:hover,
.backBtn:hover,
.showCorrection:hover,
.ul:hover {
    background-color: #065dd8;
    transform: translateY(-2px);
}
.backBtn:hover {
    background-color: #a11616;
    transform: translateY(-2px);
}

#home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#home-page .container-home{
    margin-top: 2rem;
    width: 50%;
}
.container-home h1{
    font-size: 3rem;
    font-family: var(--titleFont);
    line-height: 2.5rem;
}

.container-home p{
    margin: 1rem 0;
    line-height: 1.5rem;
}

/* Menu of Quiz App   */
.newContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.newContainer .card {
    width: 30%;
    height: 70vh;
    margin-top: 2rem;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    line-height: 2rem;
    background: var(--bgCard);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-bottom: 2px solid var(--blue);
}

.newContainer .card img {
    width: 350px;
}
.newContainer .card:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.438);
}
.newContainer .card h3{
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 25px;
    padding: 1rem 0;
    font-family: var(--titleFont);
    border-bottom: 2px solid var(--blue);
}

/* Create question  */
.editFormContainer,.correctionList {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.addContainer .title{
    line-height: 4rem;
    font-family: var(--titleFont);
}

/* container edit question  */
.mainContainerEdit ul {
    display: flex;
    justify-content: center;
    list-style: none;
    /* margin-left: 5%; */
}
.mainContainerEdit ul li{
    margin: 1rem;
    padding: 0 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
    cursor: pointer;
}
/* .mainContainerEdit ul li:hover{
    margin: 1rem;
    font-size: 20px;
    border-bottom: 2px solid var(--blue);
    color: var(--blue);
} */
.mainContainerEdit .title{
    text-align: center;
    line-height: 4rem;
    font-family: var(--titleFont);
}



#inputForm,#inputFormEdit,.correctionList{
    line-height: 2rem;
    padding: 2rem;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-bottom: 3px solid var(--blue);
    margin-top: 1rem;
    background: var(--bgCard);
}

.editFormContainer .title {
    margin: 2rem 0;
}

.manageFormEdit h1 {
    background: none;
}
.correctionList .listAnswer{
    border-bottom: 2px solid var(--blue);
    font-family: var(--titleFont);
    padding: 1rem 0;
}

#getQuestion,#getQuestionEdit, .getAnswer,.getAnswerEdit{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1.5px solid grey;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}



.answer-control {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

#getQuestion:focus,
.getAnswer:focus{
    border-bottom: 2px solid var(--blue);
    transition: all 0.2s;
    color: var(--blue);
    font-size: 15px;
    cursor: auto;
    background: none;
    transform: translateY(-2px);
}

.addContainer #showAnswers{
    display: flex;
    justify-content: space-evenly;
    text-align: start;
    align-items: center;
    margin-top: 1rem;
}

.addContainer .showQuestionCon{
    margin-top: 1rem;
    background: var(--bgCard);
    border-left: 2px solid var(--blue);
    margin-top: 1rem;
}

.swal-button--confirm {
    background: var(--blue);
}

.quizContainer {
    /* background: var(--bgCard); */
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 2rem 3rem 5rem;
    text-align: center;
    line-height: 2rem;
    background: var(--bgCard);
    border-radius: 7px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-bottom: 3px solid var(--blue);
    margin-bottom: 2rem;
}

.quizContainer h3{
    line-height: 3rem;
    margin-bottom: 1rem;
    font-size: 35px;
    font-weight: bolder;
} 

.quizContainer .titleQ{
    line-height: 3rem;
    margin-bottom: 1rem;
    font-size: 18px;
    text-align: end;
} 
.appearAnswer{
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   color: #E5E5E5;
}

.appearAnswer .answer{
    width: 48%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    background: var(--blue);
    border-radius: 50px;
    font-size: 25px;
    font-weight: bolder;
    text-align: left;
    min-height: 10px;
    /* min-width: 80px; */
}

.appearAnswer .answer:hover{
    transition: all 500ms;
    background: #033fa0;
    cursor: pointer;
}

/* icon - style  */
.fa-times-circle-o,
.fa-check-circle-o {
    font-size:50px;
    /* margin-left: 2rem; */
    /* position: absolute; */
}

.btnSubmitResult {
    background: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
    top: 58%;
    min-height: 80px;
    min-width: 80px;
    font-size: 40px;
    border-radius: 50%;
}
.btnSubmitResult:hover{
    background: green;
    transform: translateY(-2px);
}

.fa-info-circle {
    text-align: center;
    position: absolute;
    right: 26%;
    margin-top: -1.5rem;
    cursor: pointer;
    color: var(--blue);
}

.finalResult {
    /* background: var(--bgCard); */
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 2rem 3rem;
    text-align: center;
    line-height: 2rem;
    background: var(--bgCard);
    border-radius: 7px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-bottom: 3px solid var(--blue);
    margin-bottom: 2rem;
}
.finalResult h1{
    font-size: 150px;
    padding: 5.5rem 0;
    color: var(--red);
    text-align: center;
}

.finalResult .title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 40px;
    
}
.finalResult .title h3{
    font-family: var(--titleFont);
}
.finalResult .title i{
    color: #FFDF33;
}
.finalResult .itemResult, .itemResultIn{
    /* background: var(--white); */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-bottom: 3px solid var(--green);
    margin-top: 1.5rem;
    font-size: 24px;
    padding: 1rem;
    font-weight: bolder;
    font-family: var(--descripFont);
    border-radius: 5px;
}

.finalResult .itemResultIn{
    border-bottom: 3px solid var(--red);
}
.questionContainer{
    /* background: var(--bgCard); */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-right: 40px solid var(--blue);
    font-family: var(--titleFont);
    width: 60%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--bgCard);
    cursor: pointer;
}
.questionContainer:hover {
    background: rgba(255, 255, 255, 0.658);
}

.questionShow{
    font-family: var(--titleFont);
    padding: 10px;
}

.answers{
    font-family: var(--titleFont);
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    text-align: center;
}
.answerChoice label{
    margin-left: 10px;
}
.edition{
    text-align: center;
    margin-top: -10px;
}
.edition img{
    width: 23px;
}

.edition .imageEdit,
.edition .imageDelete
{
    cursor: pointer;
    /* right: 21%; */
    position: absolute;
    margin-top: 1rem;
    margin-left: 5%;
}
.edition .imageEdit{
    margin-top: -30px;
}

.listAnswer li{
    background: none;
    box-shadow: none;
    border: none;
    color: #092656;
    font-weight: 700;
    font-family: var(--descripFont);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.listAnswer .fa-check-circle-o,
.listAnswer .fa-times-circle-o{
    background: none;
    color: var(--green);
    position: absolute;
    right: 2%;
}
.listAnswer .fa-times-circle-o{
    color: var(--red);
}
.inAndCo {
    font-size: 18px;
    font-weight: 600;
    padding: 2rem 0;
    border-bottom: 2px solid var(--blue);
}
.inAndCo .co {
    color: var(--green);
}
.inAndCo .inCo {
    color: var(--red);
}
